.navigation-bar{
  margin-bottom: 5px;
   display:flex;
   background-color:rgb(217, 212, 212);
 }
 #icon{
  border-radius: 50px;
   margin-top: 10px;
   margin-left: 50px;
 }
 .introduction{
  width: 100%;
  justify-content: space-between;
}

.Company-name{
  color: green;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  text-align: center;
}
#services{
  text-align: center;
  padding: 20px;
  justify-content: space-between;
  font-size: 20px;
  margin: 0;
}

.service{
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  color:black;
  padding: 20px;
}
.service:hover{
  cursor: pointer;
  background-color: white;
}
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.container video {
  width: 100%;
}
.text {
  position: absolute;
  top: 350px;
  left: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px #000;
}
.preamble2{
  font-size: 22px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 50px;
  text-align: center;
}
.activity{
  display: flex;
  flex: 1;
  width: 100%;
margin: 0;
}

.image-activity{
  margin: 20px;
  width:650px;
}
.t-activity{
  width: 100%;
}
.activity-description:hover{
  cursor: pointer;
  background-color: rgb(244, 243, 243);
}
.activity-description{
  width: 100%;
  margin: 20px;
}
.service-offered{
  padding: 10px;
  margin:0;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: rgb(4, 117, 21);
  text-align: center;
  font-size: 40px;
}
.service-offered:hover{
  cursor: pointer;
  color: orange;
}
.service-description{
  border-radius: 60px;
  border-color: gray;
  margin: 0;
  padding: 20px;
  line-height: 1.5;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 22px;
}
#footer{
  margin-top: 100px;
  height: 250px;
  display: flex;
  flex: 1;
 background-color: rgb(251, 249, 249);
}
.left{
  justify-content: space-between;
  width: 100%;
}
.footer-intro{
  text-align: top;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.info{
padding: 4px;
}
.middle{
  height: 100px; 
  width: 100%;
}
.partner{
  margin-top: 20px;
  height: 60px;
}
.right{
  width: 100%;
}