.navigation-bar{
  margin-bottom: 5px;
   display:flex;
   background-color:rgb(217, 212, 212);
 }
 #icon{
  border-radius: 50px;
   margin-top: 10px;
   margin-left: 50px;
 }
 .introduction{
  width: 100%;
  justify-content: space-between;
}

.Company-name{
  color: green;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  text-align: center;
}
#services{
  text-align: center;
  padding: 20px;
  justify-content: space-between;
  font-size: 20px;
  margin: 0;
}
.service{
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-decoration: none;
  color:black;
  padding: 20px;
  transition: background-color 0.15s;
}
.service:hover{
  opacity: 0.5;
  cursor: pointer;
  background-color: white;
}
.container {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.container video {
  width: 100%;
}
.text {
  position: absolute;
  top: 380px;
  left: 20px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px #000;
}
.preamble2{
  font-size: 22px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 50px;
  text-align: center;
}

.contact-section{
  background-color: rgb(221, 231, 231);
  display: flex;
  flex: 1;
}
.form{
  padding: 20px;
  width: 100%;
}
.contacts{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 60px;
  width: 100%;
}
input{
  border-color: lightgray;
  border-radius: 10px;
  border-style: solid;
  width: 500px;
  margin: 10px;
  height: 30px;
}
p{
  margin: 0;
  padding: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
h1{
  margin-left: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h3{
  margin: 0;
  padding: 0px;
}
.typing{
  height: 50px;
}
.message{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  height: 40px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  width: 160px;
  background-color: blue;
  color: white
}
.follow{
  height: 60px;
  width: 60px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
 font-size: 40px;
  border-radius: 50%;
  border: none;
  margin-left: 10px;
  margin-top: 10px;
  background-color: blue;
  color: white
}
.follow:hover, .message:hover{
  opacity:0.5;
  background-color: rgb(0, 200, 255);
}
#footer{
  margin-top: 100px;
  height: 250px;
  display: flex;
  flex: 1;
 background-color: rgb(251, 249, 249);
}
.left{
  justify-content: space-between;
  width: 100%;
}
.footer-intro{
  text-align: top;
  margin-left: 20px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.info{
padding: 4px;
}
.middle{
  height: 100px; 
  width: 100%;
}
.partner{
  margin-top: 20px;
  height: 60px;
}
.right{
  width: 100%;
}